.error-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    h1 {
        color: #ff6060;
        font-size: 250px;
        font-weight: 700;
    }
    h2 {
        text-align: center;
        color: #ff6060;
        font-size: 36px;
    }
    a {
        color: #333;
        font-weight: 700;
        text-decoration: underline;
        font-size: underline;
    }
}

@media screen and (max-width: 750px) {
    .error-container {
        h1 {
            font-size: 100px;
        }
        h2 {
            font-size: 18px;
        }
    }
}
