@import "./variable";

#error {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .error__title {
        color: $main-color;
        font-size: 250px;
        font-weight: 700;
    }
    .error__text {
        text-align: center;
        color: $main-color;
        font-size: $very-big;
    }
    .error__link {
        color: $dark;
        font-weight: 700;
        text-decoration: underline;
        font-size: $big;
    }
}

@media screen and (max-width: 750px) {
    .error-container {
        .error__title {
            font-size: 100px;
        }
        .error__text {
            font-size: $medium;
        }
    }
}
