@import './variable';

#header {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;

    .header__navbar {
        height: 100%;

        &--link {
            font-size: $big;
            margin-left: 30px;
            color: $dark;
            font-weight: 500;
            line-height: 68px;

            &.active {
                text-decoration: underline;
            }
        }
    }

    @media screen and (max-width: 750px) {
        .header__navbar {
            &--link {
                font-size: $small;
                line-height: 48px;
            }
        }
    }
}
