*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    border: none;
    outline: none;
    text-decoration: none;
}

body {
    width: 90%;
    margin: auto;
    max-width: 1240px;
}
