*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    border: none;
    outline: none;
    text-decoration: none;
}

body,
main,
header {
    margin: auto;
    max-width: 1350px;
}

main,
header {
    width: 90%;
}

li {
    list-style: none;
}

main {
    min-height: calc(100vh - 200px - 132px);
}

