@import './variable';

#logement {
    .logement__info-container {
        display: grid;
        grid-template-areas:
            "where who"
            "what what";
        &--where {
            grid-area: where;
            h1 {
                color: $main-color;
                font-weight: 500;
                font-size: $very-big;
                margin-bottom: 5px;
            }
            h2 {
                font-weight: 500;
                font-size: $big;
            }
            .tag-container {
                margin-top: 10px;
                display: flex;
            }
        }
        &--who {
            grid-area: who;
            display: flex;
            flex-direction: column;
            align-items: end;
            .host-container {
                margin-bottom: 15px;
                display: flex;
                align-items: center;
                gap: 10px;
                p {
                    width: 80px;
                    text-align: right;
                    font-size: $medium;
                    font-weight: 500;
                    color: $main-color;
                }
                img {
                    width: 64px;
                    border-radius: 50%;
                }
            }
        }
        &--what {
            grid-area: what;
            display: flex;
            gap: 80px;
        }
    }
}

@media screen and (max-width: 850px) {
    #logement {
        .logement__info-container {
            display: flex;
            flex-direction: column;
            &--where {
                h1 {
                    font-size: $big;
                    margin-bottom: 5px;
                }
                h2 {
                    font-weight: 500;
                    font-size: $small;
                }
                .tag-container {
                    flex-wrap: wrap;
                }
            }
            &--who {
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
                .host-container {
                    margin-bottom: 0px;
                    p {
                        width: 60px;
                        font-size: $small;
                    }
                    img {
                        width: 45px;
                        border-radius: 50%;
                    }
                }
            }
            &--what {
                flex-direction: column;
                gap: 0;
            }
        }
    }
}
