@import "./variable";
@import "./animationSlider";

#slideshow {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 450px;
    border-radius: 15px;
    margin-bottom: 30px;
    .slideshow__btn-container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        &--btn {
            background: none;
            width: 7%;
            opacity: 0.25;
            &:hover {
                background: rgba(0, 0, 0, 0.15);
                opacity: 1;
            }
        }
        &--indicator {
            padding-bottom: 20px;
            display: flex;
            align-items: end;
            p {
                font-size: $medium;
                font-weight: 700;
                color: $white;
            }
        }
        .btn-previous,
        .btn-next {
            &::before {
                display: block;
                position: absolute;
                content: "";
                width: 50px;
                height: 6px;
                background: $white;
                top: 45%;
            }
            &::after {
                display: block;
                position: absolute;
                content: "";
                width: 50px;
                height: 6px;
                background: $white;
                top: 52%;
            }
        }
        .btn-previous {
            &::after {
                left: 15px;
                transform: rotate(45deg);
            }
            &::before {
                left: 15px;
                transform: rotate(-45deg);
            }
        }
        .btn-next {
            &::after {
                right: 15px;
                transform: rotate(135deg);
            }
            &::before {
                right: 15px;
                transform: rotate(-135deg);
            }
        }
    }
    .slideshow__picture {
        z-index: -1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-height: 100%;
        &.left {
            animation: slideLeft 0.2s ease;
        }
        &.right {
            animation: slideRight 0.2s ease;
        }
    }
}

@media screen and (max-width: 850px) {
    #slideshow {
        height: 500px;
        .slideshow__btn-container {
            &--btn {
                width: 10%;
            }
            &--indicator {
                p {
                    font-size: $small;
                }
            }
            .btn-previous,
            .btn-next {
                &::before {
                    width: 30px;
                    height: 4px;
                    top: 48%;
                }
                &::after {
                    width: 30px;
                    height: 4px;
                    top: 52%;
                }
            }
        }
    }
}
