@import "./variable";

.tag {
    margin: 5px;
    background-color: $main-color;
    display: inline-block;
    height: 25px;
    padding: 0 15px;
    border-radius: 12px;
    text-align: center;
    &__name {
        color: $white;
        font-size: $small;
        font-weight: 500;
        line-height: 25px;
    }
}

@media screen and (max-width: 850px) {
    .tag {
        height: 18px;
        border-radius: 5px;
        &__name {
            font-size: $very-small;
            font-weight: 500;
            line-height: 18px;
        }
    }
}
